# Zertifikatsdaten und private Schlüssel niemals ins Repository!
letsencrypt/acme.json
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3

# Virtualenv
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Sonstiges
*.swp
*.bak
*.tmp
output.wav
models/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# Test/Cache
.cache/
pytest_cache/

# Secrets
.env
.env.*

# Node
node_modules/
