openapi: 3.0.3
info:
  title: Smart Speech Flow Backend API
  description: |
    REST API for the Smart Speech Flow backend service.
    Provides endpoints for session management, audio/text translation, and WebSocket communication.

    **Version 1.3 Changes (November 2025):**
    - Added WebSocket endpoint documentation: `/ws/{sessionId}/{clientType}`
    - Added WebSocket message roles (sender_confirmation vs receiver_message)
    - Added WebSocket fallback mechanism (polling endpoint)
    - Added WebSocket diagnostics endpoint for troubleshooting
    - Added original audio input endpoint with 24h retention policy
    - Documented complete WebSocket connection lifecycle

    **Version 1.2 Changes (November 2025):**
    - Unified message endpoint: `/api/session/{sessionId}/message` accepts both audio and text
    - Fixed MessageResponse schema to match actual implementation
    - Added all response fields: status, processing_time_ms, pipeline_type, source_lang, target_lang
    - Corrected field names: original_text (not text), audio_url (not audio_base64)
    - Added admin and customer session management endpoints
    - Complete pipeline_metadata structure with all processing steps
  version: 1.3.0
  contact:
    name: Smart Village Solutions
    email: support@smart-village.solutions

servers:
  - url: https://ssf.smart-village.solutions
    description: Production server
  - url: http://localhost:8000
    description: Development server

tags:
  - name: Sessions
    description: Session management endpoints
  - name: Messages
    description: Message sending and retrieval
  - name: Audio
    description: Audio file access
  - name: Admin
    description: Administrative endpoints
  - name: WebSocket
    description: Real-time communication via WebSocket and polling fallback

paths:
  /api/admin/session/create:
    post:
      tags:
        - Admin
      summary: Create a new admin session
      description: |
        Creates a new translation session initiated by an admin/staff member.
        Returns a session ID and client join URL for the customer.
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - session_id
                  - client_url
                  - status
                  - created_at
                  - message
                properties:
                  session_id:
                    type: string
                    description: 8-character session identifier
                    example: "ABC12345"
                  client_url:
                    type: string
                    description: Full URL for customer to join the session
                    example: "https://translate.smart-village.solutions/join/ABC12345"
                  status:
                    type: string
                    enum: [pending, active]
                    example: "pending"
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-11-09T12:00:00Z"
                  message:
                    type: string
                    example: "Session created successfully"
        '500':
          description: Server error

  /api/customer/session/activate:
    post:
      tags:
        - Sessions
      summary: Activate a session as customer
      description: |
        Activates a pending session by setting the customer's language.
        Must be called by the customer before messages can be exchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
                - customer_language
              properties:
                session_id:
                  type: string
                  description: 8-character session identifier
                  example: "ABC12345"
                customer_language:
                  type: string
                  description: ISO 639-1 language code
                  example: "en"
      responses:
        '200':
          description: Session activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "active"
                  message:
                    type: string
                    example: "Session activated successfully"
        '404':
          description: Session not found
        '400':
          description: Invalid language code or session already active

  /api/session/{sessionId}:
    get:
      tags:
        - Sessions
      summary: Get session status
      description: Retrieves current status and information about a session
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The session identifier
      responses:
        '200':
          description: Session information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending, active, closed]
                  customer_language:
                    type: string
                    example: "en"
                  admin_language:
                    type: string
                    example: "de"
                  message_count:
                    type: integer
                    example: 5
                  admin_connected:
                    type: boolean
                  customer_connected:
                    type: boolean
        '404':
          description: Session not found

  /api/session/{sessionId}/message:
    post:
      tags:
        - Messages
      summary: Send message (audio or text)
      description: |
        Unified endpoint for sending messages through the translation pipeline.

        **For Audio Messages:**
        - Use multipart/form-data
        - Field name must be "file"
        - Supported formats: WAV, MP3 (auto-converted to required format)
        - Pipeline: ASR → Translation → TTS

        **For Text Messages:**
        - Use application/json
        - Include "text" field
        - Pipeline: Translation → TTS (no ASR)
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The session identifier
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - source_lang
                - target_lang
                - client_type
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio file (WAV, MP3, etc.)
                source_lang:
                  type: string
                  description: ISO 639-1 language code
                  example: "en"
                target_lang:
                  type: string
                  description: ISO 639-1 language code
                  example: "de"
                client_type:
                  type: string
                  enum: [admin, customer]
                  description: Role of the sender
                  example: "customer"
          application/json:
            schema:
              type: object
              required:
                - text
                - source_lang
                - target_lang
                - client_type
              properties:
                text:
                  type: string
                  description: Text message to translate
                  example: "Hello, how can I help you?"
                source_lang:
                  type: string
                  description: ISO 639-1 language code
                  example: "en"
                target_lang:
                  type: string
                  description: ISO 639-1 language code
                  example: "de"
                client_type:
                  type: string
                  enum: [admin, customer]
                  description: Role of the sender
                  example: "admin"
      responses:
        '200':
          description: Message processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Invalid input (missing fields, invalid format, etc.)
        '404':
          description: Session not found
        '500':
          description: Processing error

  /api/session/{sessionId}/messages:
    get:
      tags:
        - Messages
      summary: Get message history
      description: Retrieves all messages for a session
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The session identifier
      responses:
        '200':
          description: Message list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        original_text:
                          type: string
                        translated_text:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
                        audio_url:
                          type: string
                          nullable: true
        '404':
          description: Session not found

  /api/languages/supported:
    get:
      tags:
        - Sessions
      summary: Get supported languages
      description: Returns list of supported language codes and their display names
      responses:
        '200':
          description: Supported languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        name:
                          type: string
                        native:
                          type: string
                  admin_default:
                    type: string
                    example: "de"
                  popular:
                    type: array
                    items:
                      type: string

  /api/audio/{message_id}.wav:
    get:
      tags:
        - Audio
      summary: Get translated audio output
      description: Retrieves the translated audio file (TTS output) for a message
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
          description: The message identifier
      responses:
        '200':
          description: Audio file
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        '404':
          description: Audio file not found

  /api/audio/input_{message_id}.wav:
    get:
      tags:
        - Audio
      summary: Get original audio input
      description: |
        Retrieves the original audio file that was sent as input (only for audio messages).
        **Important:** Original audio files are automatically deleted after 24 hours for privacy reasons.
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
          description: The message identifier
      responses:
        '200':
          description: Original audio file
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        '404':
          description: Audio file not found or expired (>24h old)

  /ws/{sessionId}/{clientType}:
    get:
      tags:
        - WebSocket
      summary: WebSocket connection for real-time messaging
      description: |
        Establishes a WebSocket connection for real-time bidirectional communication.

        **Connection URL:**
        - Production: `wss://ssf.smart-village.solutions/ws/{sessionId}/{clientType}`
        - Via Frontend Proxy: `wss://translate.smart-village.solutions/ws/{sessionId}/{clientType}`

        **Message Flow:**
        When a message is sent via POST /api/session/{sessionId}/message, the backend broadcasts TWO messages:

        1. **Sender Confirmation** (role: "sender_confirmation"):
           - Sent to the original sender
           - Contains original text (not translated)
           - No audio available
           - Can be ignored if frontend uses optimistic UI updates

        2. **Receiver Message** (role: "receiver_message"):
           - Sent to the other participant
           - Contains translated text
           - Includes audio_url if TTS was successful
           - MUST be displayed by frontend

        **Connection Lifecycle:**
        - Server validates session and client_type on connection
        - Invalid session or wrong client_type → connection closed immediately
        - Session termination triggers "session_terminated" message
        - Automatic reconnection recommended on disconnect

        **Fallback Mechanism:**
        If WebSocket connection fails (CORS, network issues), the backend automatically:
        1. Sends "fallback_activated" message with polling details
        2. Client should switch to HTTP polling using provided endpoint
        3. See /api/websocket/poll/{polling_id} for polling fallback

        **WebSocket Message Format:**
        All messages use the WebSocketMessage schema (see components/schemas).

        **Example Message:**
        ```json
        {
          "type": "message",
          "role": "receiver_message",
          "message_id": "abc-123",
          "session_id": "ABC12345",
          "text": "Hallo",
          "sender": "admin",
          "timestamp": "2025-11-09T12:00:00Z",
          "source_lang": "en",
          "target_lang": "de",
          "audio_available": true,
          "audio_url": "/api/audio/abc-123.wav",
          "original_audio_url": "/api/audio/input_abc-123.wav",
          "pipeline_metadata": { ... }
        }
        ```
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The 8-character session identifier
          example: "ABC12345"
        - name: clientType
          in: path
          required: true
          schema:
            type: string
            enum: [admin, customer]
          description: The client role (admin or customer)
          example: "customer"
      responses:
        '101':
          description: Switching Protocols - WebSocket connection established
        '400':
          description: Invalid client_type parameter
        '404':
          description: Session not found
        '403':
          description: Session not active or client not authorized

  /api/websocket/debug/connection-test:
    get:
      tags:
        - WebSocket
      summary: WebSocket connection diagnostics
      description: |
        Tests WebSocket compatibility and provides troubleshooting information.
        Useful for debugging CORS issues, origin blocking, and connection problems.
      responses:
        '200':
          description: Diagnostic information
          content:
            application/json:
              schema:
                type: object
                properties:
                  origin_allowed:
                    type: boolean
                    description: Whether the request origin is allowed
                  websocket_supported:
                    type: boolean
                    description: Whether WebSockets are supported
                  suggestions:
                    type: array
                    items:
                      type: string
                    description: Troubleshooting suggestions if issues detected

  /api/websocket/poll/{polling_id}:
    get:
      tags:
        - WebSocket
      summary: Polling fallback for WebSocket
      description: |
        HTTP polling endpoint used as automatic fallback when WebSocket connection fails.
        The polling_id is provided in the "fallback_activated" message.

        **Usage:**
        1. WebSocket connection fails or closes unexpectedly
        2. Backend sends "fallback_activated" message with polling_id
        3. Client starts polling this endpoint every 5 seconds
        4. Endpoint returns new messages since last poll
      parameters:
        - name: polling_id
          in: path
          required: true
          schema:
            type: string
          description: The polling session identifier from fallback_activated message
      responses:
        '200':
          description: Pending messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebSocketMessage'
                  has_more:
                    type: boolean
        '404':
          description: Polling session not found or expired

components:
  schemas:
    MessageResponse:
      type: object
      description: |
        Unified response format for all message processing endpoints.
        Always includes status, content, metadata, and optional pipeline details.
      required:
        - status
        - message_id
        - session_id
        - original_text
        - translated_text
        - audio_available
        - processing_time_ms
        - pipeline_type
        - source_lang
        - target_lang
        - timestamp
      properties:
        status:
          type: string
          enum: [success, error]
          description: Request processing status
          example: "success"
        message_id:
          type: string
          format: uuid
          description: Unique message identifier
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        session_id:
          type: string
          description: Session identifier
          example: "ABC12345"
        original_text:
          type: string
          description: Original text (from ASR for audio, or user input for text)
          example: "Hello, how can I help you?"
        translated_text:
          type: string
          description: Translated text output
          example: "Hallo, wie kann ich Ihnen helfen?"
        audio_available:
          type: boolean
          description: Whether translated audio (TTS output) is available
          example: true
        audio_url:
          type: string
          nullable: true
          description: URL to translated audio file if available
          example: "/api/audio/a1b2c3d4-e5f6-7890-abcd-ef1234567890.wav"
        processing_time_ms:
          type: integer
          description: Total processing time in milliseconds
          example: 1840
        pipeline_type:
          type: string
          enum: [audio, text]
          description: Pipeline type used (audio includes ASR, text does not)
          example: "text"
        source_lang:
          type: string
          description: Source language ISO 639-1 code
          example: "en"
        target_lang:
          type: string
          description: Target language ISO 639-1 code
          example: "de"
        timestamp:
          type: string
          format: date-time
          description: Message creation timestamp (ISO 8601)
          example: "2025-11-09T12:00:00.500Z"
        pipeline_metadata:
          $ref: '#/components/schemas/PipelineMetadata'

    PipelineMetadata:
      type: object
      description: |
        Detailed information about the processing pipeline.
        Always present in all message responses (version 1.1+).
      required:
        - input
        - steps
        - total_duration_ms
        - pipeline_started_at
        - pipeline_completed_at
      properties:
        input:
          type: object
          required:
            - type
            - source_lang
          properties:
            type:
              type: string
              enum: [audio, text]
              description: Type of input
              example: "audio"
            source_lang:
              type: string
              description: ISO 639-1 language code
              example: "de"
            audio_url:
              type: string
              description: URL to original audio (only for audio input)
              example: "/api/audio/input_a1b2c3d4.wav"
        steps:
          type: array
          description: Array of pipeline processing steps
          items:
            $ref: '#/components/schemas/PipelineStep'
        total_duration_ms:
          type: integer
          description: Total pipeline duration in milliseconds
          example: 500
        pipeline_started_at:
          type: string
          format: date-time
          description: Pipeline start timestamp (ISO 8601)
          example: "2025-11-05T12:00:00.000Z"
        pipeline_completed_at:
          type: string
          format: date-time
          description: Pipeline completion timestamp (ISO 8601)
          example: "2025-11-05T12:00:00.500Z"

    PipelineStep:
      type: object
      description: Information about a single pipeline step
      required:
        - name
        - started_at
        - completed_at
        - duration_ms
        - input
        - output
      properties:
        name:
          type: string
          enum: [asr, translation, tts, refinement]
          description: Step name
          example: "asr"
        started_at:
          type: string
          format: date-time
          description: Step start timestamp (ISO 8601)
          example: "2025-11-05T12:00:00.000Z"
        completed_at:
          type: string
          format: date-time
          description: Step completion timestamp (ISO 8601)
          example: "2025-11-05T12:00:00.150Z"
        duration_ms:
          type: integer
          description: Step duration in milliseconds
          example: 150
        input:
          type: object
          description: Step-specific input data
          additionalProperties: true
          example: {}
        output:
          type: object
          description: Step-specific output data
          additionalProperties: true
          example:
            text: "Hello, how can I help you?"

    WebSocketMessage:
      type: object
      description: WebSocket message format
      required:
        - type
        - role
        - message_id
        - session_id
        - text
        - sender
        - timestamp
        - source_lang
        - target_lang
        - audio_available
        - pipeline_metadata
      properties:
        type:
          type: string
          enum: [message]
          example: "message"
        role:
          type: string
          enum: [sender_confirmation, receiver_message]
          description: |
            Message role:
            - sender_confirmation: Echo to sender
            - receiver_message: New message for receiver
          example: "receiver_message"
        message_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        session_id:
          type: string
          example: "ABC12345"
        text:
          type: string
          description: Message text (original or translated depending on role)
          example: "مرحبا، كيف يمكنني المساعدة؟"
        sender:
          type: string
          enum: [admin, customer]
          example: "admin"
        timestamp:
          type: string
          format: date-time
          example: "2025-11-05T12:00:00.500Z"
        source_lang:
          type: string
          description: ISO 639-1 code
          example: "de"
        target_lang:
          type: string
          description: ISO 639-1 code
          example: "ar"
        audio_available:
          type: boolean
          description: Whether audio is available for this message
          example: true
        audio_url:
          type: string
          description: URL to translated audio (only in receiver_message)
          example: "/api/audio/a1b2c3d4.wav"
        original_audio_url:
          type: string
          nullable: true
          description: URL to original input audio (only for audio input)
          example: "/api/audio/input_a1b2c3d4.wav"
        pipeline_metadata:
          $ref: '#/components/schemas/PipelineMetadata'
